@{
    ViewData["Title"] = "All Equipment";
}

<h2>All Equipment</h2>
<p>This page will show a list of all IT equipment available in the system.</p>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Equipment ID</th>
            <th>Type</th>
            <th>Description</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Laptop</td>
            <td>Dell Inspiron 15</td>
            <td>Yes</td>
            
        </tr>
        <tr>
            <td>1</td>
            <td>Tablet</td>
            <td>Ipad Pro</td>
            <td>Yes</td>
            
        </tr>
        <tr>
            <td>2</td>
            <td>Phone</td>
            <td>Google pixel</td>
            <td>No</td>
            
        </tr>
        <tr>
            <td>1</td>
            <td>Keyboard</td>
            <td>Logitech</td>
            <td>Yes</td>
            
        </tr>
    </tbody>
</table>
