@{
    ViewData["Title"] = "Available Equipment";
}

<h2>Available Equipment</h2>
<p>This page will only show items that are currently available.</p>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Equipment ID</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Laptop</td>
            <td>Dell Inspiron 15</td>

            
        </tr>
         <tr>
            <td>2</td>
            <td>Tablet</td>
            <td>Ipad Pro</td>

            
        </tr>
         <tr>
            <td>3</td>
            <td>Keyboard</td>
            <td>Logitech</td>

            
        </tr>
    </tbody>
</table>
