@{
    ViewData["Title"] = "Home - Equipment Tool";
}

<div class="text-center">
    <h1 class="display-4">Equipment Tool</h1>
    <p class="lead">Welcome!This page will allow you to borrow tools.</p>
</div>
